@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: #333;
    width: 100%;
  }

.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 18rem;
    width: 18rem;
    margin: 10rem 0px 0px 39rem;
    background: rgba(255, 255, 255, 0.1);
} 

.Login12 {
    margin-top: 1rem;
}